.del-cont .login-popup .alert {
  width: 600px;
  margin: -300px 0 0 -300px;
}

.del-cont .login-popup .alert .remove-item-cont {
  width: 100%;
  max-height: 390px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.del-cont .login-popup .alert .remove-item-cont .remove-item {
  width: 245px;
  position: relative;
  float: left;
  margin: 0 7px 30px 7px;
}

.del-cont .login-popup .alert .remove-item-cont .remove-item img {
  float: left;
  margin: 0 10px 0 0;
}

.del-cont .login-popup .alert .remove-item-cont .remove-item .des-cont {
  width: 155px;
  height: 80px;
  position: relative;
  float: left;
}

.del-cont .login-popup .alert .remove-item-cont .remove-item .des-cont p {
  float: left;
  margin: 0;
}

.del-cont .login-popup .alert .remove-item-cont .remove-item .des-cont p.des {
  height: 3em;
  line-height: 1.5em;
  overflow: hidden;
}

.del-cont .login-popup .alert .remove-item-cont .remove-item .des-cont p.reason {
  position: absolute;
  bottom: 10px;
  font-weight: bold;
}
